﻿@model ClaseMVC.Models.Pelicula

@{
    ViewBag.Titulo = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Pelicula", 
    FormMethod.Post, 
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pelicula</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)


        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActorPrincipal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActorPrincipal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActorPrincipal, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Thumbnail of current image:</label>
            <div class="col-md-10">
                <img src="@Html.Raw(Model.ThumbnailURL)" />
            </div>
            <label class="control-label col-md-2" for="imageFile">New image:</label>
            <div class="col-md-10">
                <input type="file" name="imageFile" accept="image/*" class="form-control fileupload" />
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.categoria, Enum.GetNames(typeof(ClaseMVC.Models.Categoria)).Select(e => new SelectListItem { Text = e }))
                @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                Preview:
                </div>
            <div class="col-md-10">
                <img id="previewImg" 
                     alt="@Model.Titulo" 
                     src="@Url.Content("~" + Model.ruta)" 
                    width="100px" height="100px"/>
                @Html.HiddenFor(model => model.ruta)
            </div>
        </div>
        
        <div class="form-group">
             <div class="col-md-2">
                 imagen:
                 </div>
            <div class="col-md-10">
                
                 <input type="file" id="file" name="file" />

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                </div>
                <div class="col-md-10">
                    @Html.Partial("_Rating", Model)
                    @Html.HiddenFor(m=>m.Rate,new{id="Rate"})
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/jscript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });

    </script>
    
    <script>
        $(document).ready(function () {
            var pid = $("#Rate").val();
            $('.ratting-item[data-pid=' + pid + ']').attr('checked', 'checked');
            $('.ratting-item[data-pid=' + pid + ']').prop("checked", true);
        });
        
        $(function () {
            // codigo: https://github.com/irfan/jquery-star-rating
            $('.ratting-item').rating(function (vote, event) {
                var anchor = $(event.currentTarget),
                    pid = anchor.closest(".ratting-item").data("pid"),
                    url = '@Url.Action("RateProduct", "Pelicula")';
                $("#Rate").val(vote);
                //mensaje de espera
                $('.ratting-item[data-pid=' + pid + ']')
                    .next()
                    .text("Actualizando Calificación...");

                $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, id: pid },
                    success: function (data) {

                        if (data.success) {
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("Listo! (película: " + data.pid + ")");
                        }
                        else {
                            //mostrar error
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("ocurrió un error...");
                        }
                    },
                    error: function (err) {
                        // the call thrown an error
                        $('.result').text(err);
                    },
                    complete: function () {
                        //$(".loading").hide();
                    }
                });
            });

        });
    </script>

}

